html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgba(252, 251, 227, .225);
    text-align: center;
    margin; 0 auto;
    width: 100%;  
    
}


.header {
    background-color: green;
    width: 100%; 
    top: 0;
    padding: 1%;
}   


.content {
    margin: 5%;
    text-align: left;
    
}

.forms {

}

.footer {

}

#note {
    font-style: italic;
} 


ul {
     background-color: grey;
}

.nav-items li {
    display: inline;
    margin: 2%;
    width: 100%;
    
}