html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: rgba(252, 251, 227, .225);
    text-align: center;
    margin: 0 auto;
    width: 100%;  
}
 h1 {
    margin-top: 0;
    font-size: 8vh;
 }

 h3 {
    font-size: 4vh;
 }

 p, #autoYear {
    font-size: 2.75vh;
    display: inline;
 }

 li {
    font-size: 2.5vh;
}

.header {
    background-color: rgba(135, 206, 250, .225);
    width: 100%; 
    top: 0;
    padding: 1%;
    border-style: solid;
}   


.content {
    margin: 5%;
    text-align: left;
 }

.forms {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 50%;
}

.footer {
    background-color: rgba(135, 206, 250, .225);
    width: 100%; 
    bottom: 0;
    padding: 1%;
    border-style: solid;
}

#note {
    font-style: italic;
} 

#contactInfo {
    list-style: none;
}

.nav-items li {
    display: inline;
    margin: 2%;
}

.forms p {
    font-weight: bold;
    padding: 1%;
}

.forms label{ 
    display: inline-block;
    width: 150px;
    text-align: right;
}

.forms  label[for="home_toggle"],label[for="cell_toggle"],label[for="work_toggle"] { 
    width: 50px;
    text-align: right;
}

input[type="radio"] { 
    display: inline-block;
    width: 5px;
}
